.identity-background-section-01
  .login-wrapper
    .login
      img.logo(src="assets/images/logo.png")
      h1 {{'identity.sign-up.title' | translate}}
      form([formGroup]="signUpForm", (ngSubmit)="onSubmit()", novalidate)
        .field
          label.visuallyhidden {{'identity.sign-in.email_label' | translate}}
          input(type="email", formControlName="email", placeholder="{{'identity.sign-in.email_label' | translate}}", required, email)
        .field
          label.visuallyhidden {{'identity.sign-in.password_label' | translate}}
          input(type="password", formControlName="password", placeholder="{{'identity.sign-in.password_label' | translate}}", required)
          .info-password(tooltip="{{'general.passwd_requeriments' | translate}}", placement="left")
            img(src="assets/images/info-icon.svg")
        .password-strength([hidden]="!passw.options.strength")
          div([ngClass]="'password-strength--' + passw.options.strength")
            span.password-strength__text {{'general.passwd_strength.' + passw.options.strength | translate}}

        .field.warning(*ngIf="error")
          strong {{error.title.key | translate}}
          p {{error.description.key | translate }}
        .field
          button.btn-login(type="submit", [disabled]="!signUpForm.valid") {{'identity.sign-in.button' | translate}}
      hr
      p {{'identity.sign-up.sign_in_title' | translate}}
        br
        a.bluelink(routerLink="/sign-in") {{'identity.sign-up.sign_in_link' | translate}}

  .change-language
    .select
      select([ngModel]="language", (ngModelChange)="onLanguageChanged($event)")
        option(value="ar") عرب
        option(value="ca") Català
        option(value="de") Deutsch
        option(value="en") English
        option(value="es") Español
        option(value="eu") Euskal
        option(value="fr") Français
        option(value="gl") Galego
        option(value="pt") Português
        option(value="ja") 日本語
        option(value="sc") 简体中文
        option(value="tc") 簡體中文
